<%- include("templates/encabezado.ejs", { titulo: "Contáctanos" }) %>

<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    <form action="/contactanos" method="POST">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" required>
      </div>
      <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input class="form-control" type="number" name="edad" id="edad" placeholder="Ingresa tu edad" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
  </div>
</div>

<%-include("templates/pie.ejs")%>